<div class="row">
  <div class="col-md-12">

    <div class="text-center">
      <h3>Quotes are currently due to be submitted by the</h3>
      <h4><%= (tender.tender_quote.quote_date.to_datetime).strftime("%m/%d/%Y %H:%M %p") %></h4>
      <div style="height: 20px"></div>
      <button type="button" class="btn btn-success revise" id="<%= tender.tender_quote.id %>">Revise</button>
      <div style="height: 20px"></div>
    </div>
  </div>
  <div class="quote_date_field" style="display: none">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group date  quote_meridian_datetime" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
          <input type="text" class="form-control quote" name="qoute"  value="<%= (tender.tender_quote.quote_date.to_datetime).strftime("%Y-%m-%d") %>" readonly/>
          <span class="input-group-btn">
              <button class="btn default date-reset" type="button">
                  <i class="fa fa-times"></i>
              </button>
              <button class="btn default date-set" type="button">
                  <i class="fa fa-calendar"></i>
              </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group bootstrap-timepicker timepicker">
        <input id="timepicker1" type="text" name="qoute_time" class="form-control input-small" value="<%= (tender.tender_quote.quote_date.to_datetime).strftime("%H:%M %p") %>">
        <button class="btn default calender_time" type="button">
          <i class="glyphicon glyphicon-time"></i>
        </button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<script>
  $(document).ready(function(){
    var date = new Date();
    date.setDate(date.getDate());
    $('.quote_meridian_datetime').datetimepicker({
      startDate: date,
      pickTime: false,
      minView : 2
    });



    $('#timepicker1').timepicker({
      showInputs: false
    });


    $('.revise').click(function(){
      var id = $(this).attr('id');
      var quote_due = $('.quote_due').val();
      $(this).hide();
      $('.quote_date_field').show();
      var quote_date = $('.quote_meridian_datetime').val();
      var timepicker = $('.timepicker').val();
      /*$.ajax({
        method: "POST",
        data: {quote_id:id,quote_date:quote_due,type:"quote"},
        url: "/addendas/update_quote_due  "
      }).done(function (data) {
        alert("Successfully update the Quote Due");
      });*/
    });


    $('.update_site_due').click(function(){
      var id = $(this).attr('id');
      var quote_due = $('.site_due_date_'+id).val();
      $.ajax({
        method: "POST",
        data: {quote_id:id,quote_date:quote_due,type:"site"},
        url: "/addendas/update_quote_due  "
      }).done(function (data) {
        alert("Successfully update the Site Due");
      });
    });

    $('.tendering').change(function(){
      var status = $(this).val();
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {status:status,tender_id:tender_id,type:"status"},
        url: "/addendas/update_quote_due  "
      }).done(function (data) {
        alert("Successfully upd ate the Tender Status");
      });
    });
  });
</script>
