<% documents =  QuoteDocument.where(:quote_id => quote_id) %>
<%# optionals =  QuoteDocumentOptional.where(:quote_id => quote_id) %>

<table  class="table table-bordered document_table col-md-12">
  <thead>
    <tr style="background-color: #2C3E50;color: white;">
      <td colspan="2" class="text-center">Documents</td>
    </tr>
  </thead>
  <tbody>
<% if documents.present? %>
  <% documents.each do |d| %>
    <tr>
      <% if d.document_file_name != '.DS_Store'  %>
        <td class="text-center"><%= d.document_file_name %></td>
        <td class="text-center">
          <a href="<%= root_path <<  "assets/quotes/#{d.id}/original/"+ d.document_file_name%>" target="_blank">
            <button class="btn btn-default">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
          </a>
          <a href="<%= "http://"+request.host_with_port   <<  "/assets/quotes/#{d.id}/original/"+ d.document_file_name%>" download>
            <button class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i></button>
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="2" class="text-center">
      No documents available
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<div style="height: 10px"></div>

<!--
<table  class="table table-bordered document_table col-md-12">
  <thead>
    <tr style="background-color: #2C3E50;color: white;">
      <td colspan="2" class="text-center">Supporting Documents</td>
    </tr>
  </thead>
  <tbody>
<%# if optionals.present? %>
  <%# optionals.each do |d| %>
    <tr>
      <%# if d.document_file_name != '.DS_Store'  %>
        <td class="text-center"><%#= d.document_file_name %></td>
        <td class="text-center">
          <%#= d.id %>
          <a href="<%#= root_path <<  "assets/quote_optionals/#{d.id}/original/"+ d.document_file_name %>" target="_blank">
            <button class="btn btn-default">View</button>
          </a>
          <a href="<%#= "http://"+request.host_with_port   <<  "/assets/quote_optionals/#{d.id}/original/"+ d.document_file_name %>" download>
            <button class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i></button>
          </a>
        </td>
      <%# end %>
    </tr>
  <%# end %>
<%# else %>
  <tr>
    <td colspan="2" class="text-center">
      No documents available
    </td>
  </tr>
<%# end %>
  </tbody>
</table>-->
