<div class="text-center">
  <div class="modal fade" id="new_folder_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:100px;border-color: #333333;" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          
          <img src="/img/logos/multiply.png"  class="pull-right new_document_close"   style="margin-top: -10px;margin-right: -10px;  width: 12px;height: 12px"/>
          <div style="height: 5px"></div>
          <div class="text-center">
           <div class="mt-element-step" >
            <div class="row step-line">
             <div class="col-md-12 mt-step-col first done">
                <div class="mt-step-number bg-white">
                  <i class="fa fa-check" aria-hidden="true" ></i>
                </div>
             </div>
                      
            </div>

          </div>
          <h5 style="font-family: Gotham; font-size: 20px;margin-top: -20px">
            Document/s moved to newly created document 
folder
          </h5>
          <div class="text-center">
           
            <button class="btn btn-primary  " style="color:#f1f1f1; background-color: #72bb53;border: 2px solid;border-radius: 2px !important;;width: 88px;height: 35px; margin-top: 30px;border-color: #72bb53" data-dismiss="modal">
              <h4 style="margin-top: 2px;font-size: 16px">OK</h4>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>