
  <div class="modal fade" id="new_document_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:100px;border-color: #333333;" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close rejected_close" data-dismiss="modal">&times;</button>
          <div class="col-md-12">
            <h4 class="text-center" style="font-size: 42px">Add Files To This Folder</h4>
            <p class="text-center">
              Drag and drop files to this folder
            </p>
          </div>
        </div>
        <div class="modal-body">
          <div class="text-center">

              <div class="new_drop_zone" id="new_drop_zone">
                <div style="height: 60px"></div>
                <p class="text-center">
                  <i class="fa fa-cloud-upload fa-5x upload" aria-hidden="true" style="font-size: 54px"></i>
                </p>
                <h4 class="text-center" style="font-size: 42px">DRAG AND DROP</h4>
                <p class="text-center">your files into this box</p> 
                <div style="background-color: transparent;"> 
                  <input id="files_input" type="file" style="display: none" name="documents"> 
                </div> 
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>


<style>

</style>