<div class="text-center">
  <div class="modal fade" id="remove_document_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:100px;border-color: #333333;" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <div style="height: 20px"></div>
          <div class="text-center">
            <h4><i class="fa fa-check-circle-o fa-3x" aria-hidden="true" style="color: #72bb53"></i></h4>
          </div>
          <h3>
            Documents Deleted
          </h3>
          <div class="text-center">
            <p>
              The selected documents have been securely
              removed from Tendercon
            </p>

            <button class="btn btn-primary  " style="color:#f1f1f1; background-color: #72bb53;border: 2px solid;border-radius: 8px !important;;width: 175px;height: 35px;" data-dismiss="modal">
              <h4 style="margin-top: -1px">OK</h4>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>