<div class="row" style="background-color: #ffffff">
  <div class="form-group" >

  </div>
  <div class="form-group pull-right" >

    <div class="col-md-24">
      <a href="<%= invoices_path(format: 'pdf') %>" class="text-center new-account" style="text-decoration: none; color: #000000">
        <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Download</button>
      </a>

    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group" >

    </div>

    <div class="form-group">
      <h1 style="color: #000000;font-weight: bold"><p style="font-size: 24px">INVOICE#</p></h1>
    </div>

    <div class="form-group">
      <p style="font-size: 13px; color: #000000;font-weight: bold">Sandro Botic Constructions Pty Ltd</p>
    </div>
    <div class="form-group">
      <p style="font-size: 13px; color: #000000;font-weight: bold">107/2 Gull Street,New South Wales, Australia</p>
    </div>
    <div class="form-group">
      <p style="font-size: 13px; color: #000000;font-weight: bold">[Phone Number here]</p>
    </div>
    <div class="form-group">
      <p style="font-size: 13px; color: #000000;font-weight: bold">[Fax Number here]</p>
    </div>

    <div class="form-group">
      <p style="font-size: 13px; color: #000000;font-weight: bold">[Email here]</p>
    </div>

    <div class="form-group">
      <p style="font-size: 13px; color: #000000">_____________________________________________________________________________________________________________________________</p>
    </div>
  </div>


  <div class="col-md-24">
    <table class="table-bordered">
      <tr >
        <th style="width: 300px;font-weight: bold;color: #000000"> Description</th>
        <th style="width: 150px;font-weight: bold;color: #000000">TAX</th>
        <th style="width: 150px;font-weight: bold;color: #000000">Amount</th>
      </tr>
      <tr>
        <td style="text-align: center;color: #000000;font-weight: bold">[Service fee]</td>
        <td style="text-align: center;color: #000000;font-weight: bold">10%</td>
        <td style="text-align: center;color: #000000;font-weight: bold">$230</td>
      </tr>
      <tr>
        <td style="text-align: center;color: #000000;font-weight: bold">[Service fee]</td>
        <td style="text-align: center;color: #000000;font-weight: bold">10%</td>
        <td style="text-align: center;color: #000000;font-weight: bold">$230</td>
      </tr>
      <tr>
        <td style="text-align: center;color: #000000;font-weight: bold">[Service fee]</td>
        <td style="text-align: center;color: #000000;font-weight: bold">10%</td>
        <td style="text-align: center;color: #000000;font-weight: bold">$230</td>
      </tr>
    </table>
    <div class="col-md-8"></div>
    <div class="col-md-12">
      <div class="form-group">

      </div>
      <div class="form-group">
        <label  style="font-size: 13px; color: #000000">Subtotal:</label>&nbsp; &nbsp; <label style="font-size: 13px; color: #000000">   $ xxxxx</label>
      </div>
      <div class="form-group">
        <label  style="font-size: 13px; color: #000000">Taxable:</label>&nbsp; &nbsp; <label style="font-size: 13px; color: #000000">   $ xxxxx</label>
      </div>
      <div class="form-group">
        <label  style="font-size: 13px; color: #000000">Tax rate:</label>&nbsp; &nbsp; <label style="font-size: 13px; color: #000000">   $ xxxxx</label>
      </div>
      <div class="form-group">
        <label  style="font-size: 13px; color: #000000">Others:</label>&nbsp; &nbsp;&nbsp; <label style="font-size: 13px; color: #000000">   $ xxxxx</label>
      </div>
      <div class="form-group" style="margin-top: -20px;margin-left: -80px;">
        <p>_____________________________________________________________________</p>
      </div>
      <div class="form-group">
        <label  style="font-size: 13px; color: #000000">Total due:</label>&nbsp; &nbsp; <label style="font-size: 13px; color: #000000">   $ xxxxx</label>
      </div>
    </div>
    <div class="form-group">
      <p style="font-size: 13px; color: #000000">_____________________________________________________________________________________________________________________________</p>
    </div>
    <div class="form-group">
      <p class="text-center" style="font-size: 13px; color: #000000; font-weight: bold; margin-left: -300px;">If you have any suggestion about this invoice, please contact</p>
      <p class="text-center" style="font-size: 13px; color: #000000; font-weight: bold; margin-left: -300px;">Tendercon Team</p>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
      <p class="text-center" style="font-size: 24px; color: #000000; font-weight: bold; margin-left: -300px;">Thank you for business</p>

    </div>
  </div>


</div>