<div class="row"> 
  <%= form_tag(invite_sub_contractor_tenders_path, :html => { :multipart => true }) do |f| %>
      <input type="hidden" class="tender_id" name="tender_id" value="<%= params[:info_id] %>">
      <div class="col-md-12">
        <div class="text-center">
          <h3>SELECT THE SUBCONTRACTORS YOU WANT TO INVITE FROM YOUR NETWORK</h3>
        </div>

        <div style="height: 50px"></div>
        <div class="savvy_div">
          <% if @hc_invites.present? %>
              <%= render :partial =>  "hc_invites/savvy" %>
          <% else %>
              <div class="text-center">
                <h2>No Subcontractors found.</h2>
              </div>
          <% end %>
        </div>
      </div>


      <div class="col-md-12">
        <div class="form-actions">
          <a href="/tenders/new_tender?package=true&info_id=<%= @tender.id %>"> 
            <button class="btn btn-default"  type="button">BACK</button>
          </a>   
          <a href="#!"> 
            <button class="btn btn-primary" type="submit">SAVE AND CONTINUE</button>
          </a>   

        </div>
      </div>

  <% end %>
</div> 

<script>
  $('.f_name').keyup(function(){
    var val = $(this).val();

    if(val.length > 0){

    }
  });

  $('.f_name').focusout(function(){
    var val = $(this).val();

    if(val.length > 0){

    }
  });



  function active_invite_btn(){

    $('.invite_submit_btn').prop('disabled',false);
  }


  $('.invite_btn').click(function(){
    var tender_id = $('.tender_id').val();
    $.ajax({
      method: "POST",
      data: {tender_id:tender_id},
      url: "/tenders/new_invite_form"
    }).done(function (data) {
      $('.new_invite').append(data);

    });
  });
</script>