<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-body form">
        <div class="form-body">
          <h1 class="text-center"><%= @tender.tendercon_id %> IS NOW LIVE</h1>
          <h2>Congratulations on publishing your tender. Find out what happen next as we
            broadcast this tender opportunity to our qualified network of sub-contractors.
          </h2>
          <div style="height: 40px"></div>
          <p class="text-center">
            <i class="fa fa-check-circle fa-4x" aria-hidden="true" style="color: green"></i>
          </p>
          <p class="text-center" style="font-size: 18px;">
            Publish Tender
          </p>
          <div style="height: 10px"></div>
          <p class="text-center">
            <i class="fa fa-compass fa-4x" aria-hidden="true" style="color: green"></i>
          </p>
          <p class="text-center" style="font-size: 18px;">
            Manage Tender
          </p>
          <div style="height: 10px"></div>
          <p class="text-center">
            <i class="fa fa-shield fa-4x" aria-hidden="true" style="color: green"></i>
          </p>
          <p class="text-center" style="font-size: 18px;">
            Review & Award Quotes
          </p>

          <div style="height: 40px"></div>

          <p style="font-size: 18px">
            WHAT'S HAPPEN
          </p>


          <div style="height: 10px"></div>
          <p  style="font-size: 14px">
            <i class="fa fa-book fa-4x" aria-hidden="true" style="color: green"></i> Your Tender has just been published on Open Tenders and is now accessible to
            our network of qualified contractors.  How this tender looks on Open Tender. All uploaded files and documents have been securely stored on our platform
          </p>
          <div style="height: 10px"></div>

          <p  style="font-size: 14px">
            <i class="fa fa-envelope-o fa-4x" aria-hidden="true" style="color: green"></i> All the sub-contractors you invited have received an email invitation to start quoting on your tender. Team members you invited for this tender received a notification
          </p>

          <div style="height: 40px"></div>
          <p style="font-size: 18px">
            WHAT HAPPENS NEXT
          </p>
          <p  style="font-size: 14px">
            Close this tender and checkout the Manage Tender onboarding tutorial on how
            to run efficiently manage your tender with SCs
          </p>

          <p  style="font-size: 14px">
            View, Update and manage your tender details, documents, addenda,RFI & SC quotes
            in Manage Tender
          </p>

          <p  style="font-size: 14px">
            Manage invited SCs and Tendercon SCs in the Sub Contractor tab  of your Tender
          </p>

          <p  style="font-size: 14px">
            Your Team members will respond to the invitation requests
          </p>
        </div>
      </div>
      <p class="text-center">
        <a href="/tenders/my_tender">
          <button class="btn btn-success btn-lg" type="button">
            MANAGE MY TENDER
          </button>
        </a>
      </p>
    </div>
  </div>
</div>