<div class="tender_lists">
  <div class="row">
    <p class="text-center welcome_tender">Welcome to Publishing a Tender</p>
  </div>
  <div class="row">
    <div class="form-group"></div>
    <div class="form-group"></div>
  </div>

  <div class="row">
    <div class="col-md-24">
      <p class="text-center tender_details">
        To ensure you work at the best SC's form our network, we recommend
      </p>
      <p class="text-center tender_details">
        that your tender brief includes the following information
      </p>
    </div>
    <div class="row">
      <div class="form-group"></div>
      <div class="form-group"></div>
    </div>
    <div class="row">
      <div class="form-group"></div>
      <div class="form-group"></div>
    </div>
    <div class="row">
      <div class="form-group"></div>
      <div class="form-group"></div>
    </div>

    <div class="col-md-24">
      <p class="text-center tender_details">
        Tender Details
      </p>
      <div class="row">
        <div class="form-group"></div>
        <div class="form-group"></div>
      </div>
      <p class="text-center tender_details">
        List of all required trades
      </p>
      <div class="row">
        <div class="form-group"></div>
        <div class="form-group"></div>
      </div>
    </div>

    <div class="col-md-24">
      <p class="text-center tender_details">
        Document relevant to the tender
      </p>
      <div class="row">
        <div class="form-group"></div>
        <div class="form-group"></div>
      </div>
      <p class="tender_details text-center">
        List of prefered SC's you would like to work with from my Network
      </p>
      <div class="row">
        <div class="form-group"></div>
        <div class="form-group"></div>
      </div>
    </div>

    <div class="col-sm-24 col-md-14 col-md-offset-8">
       <a href="/tenders/new_tender?info=true" >
         <button class="btn btn-success btn-lg ">CREATE MY TENDER</button>
       </a>
    </div>

  </div>

</div>


<script>
  $( document ).ready(function() {

  });

</script>
