<div class="row">
  <div class="col-md-12 ">
    <div class="login_div">
      <div class="text-center">
        <img src="/img/logos/tendercon_log_transparent.png" width="300px">
      </div>
      <h4 class="text-center login-title">This account already exists on Tendercon</h4>
      <h4 class="text-center login-title"><%= @company.name %></h4>
      <br>
      <br>
      <br>
      <h5 class="text-center login-title">Ask your Org Admin to set you up as a user.
        Your Org Admin is someone who works for your organization and overseas Tendercon.
      </h5>
      <br/>
      <br/>
      <p class="text-center login-title">
        NOT SURE WHAT TO DO?
      </p>
      <div class="text-center">
        <a href="<%= home_index_path %>" class="center-block" role="button" style="text-decoration: none; color: #000000">
          <button class="btn  btn-primary " type="submit">Back to Home</button>
        </a>
      </div>
    </div>

  </div>
</div>

