
<div class="col-sm-24 col-md-14 col-md-offset-5 ">
  <div class="login_div">
    <!--<img src="/assets/img-4.jpg" width="30px" class="img-responsive center-block">-->
    <p class="text-center"><i class="glyphicon glyphicon-stats tendercon_icon" aria-hidden="true"></i></p>
    <h1 class="text-center login-title">You have successfully changed your password</h1>
    <br>
    <br>
    <br>

    <br/>
    <a href="<%= login_users_path %>" class="text-center new-account" style="text-decoration: none; color: #000000">
      <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">PROCEED TO LOGIN PAGE</button>
    </a>


  </div>
  <br/>

</div>
