<div class="row">
  <div class="col-md-12">
    <div class="login_div">
      <!--<img src="/assets/img-4.jpg" width="30px" class="img-responsive center-block">-->
      <div class="text-center">
        <img src="/img/logos/TENDERCONABOVELOGO.png" width="300px">
      </div>
      <h1 class="text-center login-title">Welcome to  Tendercon</h1>

      <br/>
      <div class="text-center">
        <a href="<%= params[:invited].present? ? dashboard_index_path(:newly_user => true) : dashboard_index_path %>" class="text-center new-account" style="text-decoration: none; color: #000000">
          <button class="btn green uppercase" type="submit">PROCEED TO DASHBOARD</button>
        </a>
      </div>


    </div>
    <br/>

  </div>
</div>
