<div class="col-md-12 ">
  <div class="login_div">
    <!--<img src="/assets/img-4.jpg" width="30px" class="img-responsive center-block">-->
    <div class="text-center">
      <img src="/img/logos/tendercon_log_transparent.png" width="300px">
    </div>
    <h4 class="text-center login-title">This link has expired</h4>
    <br>

    <%= form_tag(generate_new_token_users_path, {:name=> "login",:class=>'form-signin' } )  do %>
      <input type="hidden" value="<%= params[:id] %>" name="id">
      <p class="text-center text-expired">Please click below to re-send activation link.</p>
      <br/>
      <div class="text-center">
        <button class="btn  btn-primary  btn-login" type="submit">Re-send Activation Link</button>
      </div>
    <% end %>
  </div>
</div>
