
<div class="col-sm-24 col-md-14 col-md-offset-5 ">
  <p class="text-center"><i class="glyphicon glyphicon-stats tendercon_icon" aria-hidden="true"></i></p>
  <br><br>
  <div class="valid_email_div">
    <h1 class="text-center">You're Almost There!</h1>
    <br>
    <p class="validation_text">Hey <%= return_name params[:email]%>,</p>
    <p class="validation_text">A password reset email has been sent to your email with all the instructions on how to reset your password.</p>
    <p class="validation_text">See you back on Tendercon soon!</p>
    <p class="validation_text">Regards</p>
    <p class="validation_text">Team Tendercon</p>
  </div>

</div>
