
<div class="col-md-12">
  <div class="text-center">
    <img src="/img/logos/tendercon_log_transparent.png" width="300px">
  </div>
  <br><br>
  <div class="valid_email_div">
    <h1 class="text-center">You're Almost There!</h1>
    <br>
    <p class="validation_text">Hey <%= return_name params[:email]%>,</p>
    <p class="validation_text">A password reset email has been sent to your email with all the instructions on how to reset your password.</p>
    <p class="validation_text">See you back on Tendercon soon!</p>
    <p class="validation_text">Regards</p>
    <p class="validation_text">Team Tendercon</p>
  </div>

</div>
