<div class="row">
  <div class="col-md-12 ">
    <div class="login_div">
      <div class="text-center">
        <img src="/img/logos/tendercon_log_transparent.png" width="300px">
      </div>

      <br>
      <br>
      <p class="text-center login-title" style="color: #ffffff">Welcome to Tendercon! let's get you started by telling us a little more about yourself.</p>

      <div class="text-center">
        <a href="<%= tendercon_steps_users_path(:id => params[:id]) %>">
          <button class="btn btn-primary btn-login" type="submit" style="background-color: #56A99F !important;">Let's get started</button>
        </a>
      </div>

    </div>
    <br/>

  </div>

</div>