




<!--

<div id="main" class="animated fadeIn">

  &lt;!&ndash; Start: Content-Wrapper &ndash;&gt;
  <section id="content_wrapper">

    &lt;!&ndash; Begin: Animated Canvas BG &ndash;&gt;
    <div id="canvas-wrapper">
      <canvas id="demo-canvas"></canvas>
    </div>

    &lt;!&ndash; Begin: Content &ndash;&gt;
    <section id="content">

      <a href="dashboard.html" class="" title="home"><img src="assets/img/logos/logo_white.png" title="AdminDesigns Logo" class="img-responsive w200 ml10"></a>

      <div class="admin-form theme-info" id="login1" style="margin-top: 6%;">

        <div id="counter"></div>

        <h1 class="coming-soon-title"> We're Getting Ready To Launch!</h1>
        <div class="panel panel-info bw10">

          &lt;!&ndash; end .form-header section &ndash;&gt;
          <form method="post" action="/" id="contact">
            <div class="panel-menu">
              <div class="row">
                <div class="col-md-9">
                  <label for="password" class="field prepend-icon">
                    <input type="text" name="password" id="password" class="gui-input" placeholder="Your Email Address">
                    <label for="password" class="field-icon">
                      <i class="fa fa-envelope-o"></i>
                    </label>
                  </label>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="button btn-info mr10 btn-block">Notify</button>
                </div>
              </div>
            </div>
            &lt;!&ndash; end .form-body section &ndash;&gt;

          </form>
        </div>
      </div>

    </section>
    &lt;!&ndash; End: Content &ndash;&gt;

  </section>
  &lt;!&ndash; End: Content-Wrapper &ndash;&gt;

</div>-->
