<div class="row">
  <div class="text-center">
    <h2 style="font-family: Gotham;font-size: 30px"><strong>UPDATE COMPANY LOGO</strong></h2>
    <h4 style="font-family: Gotham;font-size: 16px">
      <strong>Preview your company logo and add it your company profile</strong>
    </h4>
  </div>  
  <div style="height: 20px"></div>
  <form action="#"  id="upload_company_avatar" enctype="multipart/form-data">
    <div class="text-center">

      <div class="profile-userpic">
        <% if @user.company_avatar.present? %>
          <% if File.exist?(@user.company_avatar.image.path(:original)) %>
              <img src="<%= @user.company_avatar.image.url(:original) %>" class="img-circle user_avatar"  style="width: 250px; height: 250px;">
          <% else %>
              <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive user_avatar" class="img-circle user_avatar"  style="width: 250px; height: 250px;">
              <img src="../assets/pages/media/profile/profile_user.jpg" class="img-circle user_avatar" alt="">
          <% end %>
        <% else %>
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="img-circle user_avatar" style="width: 250px; height: 250px;">
        <% end %>
        
        <div style="height: 40px"></div>
        <div class="fileinput fileinput-new " data-provides="fileinput">
          <div class="uploaded" style="display: none">
            <a href="#!" class="red">
              <button class="btn red delete" type="button" id="" style="color:#FFFFFF; background-color:#FF3823 ;border-radius: 2px !important;height: 36px !important;font-family: sans-serif;">
                DELETE
              </button>
            </a>
            <a href="#!">
              <button class="btn blue change"  style="color:#FFFFFF; border-radius: 2px !important;height: 36px !important; font-family: sans-serif;">
                CHANGE
              </button>
            </a>
          </div>
          <div class="select_image_div">
            <a href="#!">
              <button class="btn blue select_image"  style="color:#FFFFFF; border-radius: 2px !important;height: 36px !important; font-family: sans-serif;">
                SELECT IMAGE
              </button>
            </a>
          </div>
          <div style="height: 20px"></div>
          <h4 style="font-family: Gotham;font-size: 16px">
            Image preview only works on IE10+, Firefox3.6+,
            Safari6.0+, Chrome6.0+ and Opera11.1+. In older browser versions the selected filename will be shown instead.
          </h4>
          
          <div class="file_div" style="display: none">
            <span class="btn default btn-file">
            <input type="file" name="avatar" class="image"> </span>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 80px"></div>
    <div class="margin-top-10 pull-right" style="margin-right: 10px">
      <a href="#!">
        <button class="btn red cancel_btn"  style="color:#FFFFFF; background-color:#FF3823 ;border-radius: 2px !important;height: 36px !important;margin-right: 2px; width: 80px;font-family: sans-serif;">
          CANCEL
        </button>
      </a>
      <% %>
      <a href="#!">
        <button class="btn" type="submit" style="color:#FFFFFF; background-color:#72bb53 ;border-radius: 2px !important; height: 36px !important;margin-right: 10px; width: 150px; font-family: sans-serif;">
          UPDATE LOGO
        </button>
      </a>
    </div>
  </form>
  <div style="background-color: transparent;display: none"> 
    <%= form_for @avatar, :url => update_avatar_users_path,:html => {:class => 'avatar'} do |m| %> 
        <input type="file" class="file_upload_filed"  id="dir-select" name="avatar"   /> 
    <% end %>
  </div> 
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $( '#upload_company_avatar' ).submit( function( e ) {
      e.preventDefault();
      console.log($('#upload_company_avatar').serialize());
      $.ajax( {
        url: '/users/update_company_avatar',
        type: 'POST',
        data: new FormData( this ),
        processData: false,
        contentType: false
      }).done(function (data) {
        console.log(data);
        if(data.state == 'valid'){
          console.log(data.avatar_url);
          $('.user_avatar').attr('src',data.avatar_url);
          console.log(data.id)
          $('.delete').attr('id', data.id);
          $('.uploaded').show();
          $('.file_div').hide();
          $('.select_image_div').hide();
        }
      });
    });

    $('.change').click(function(){
      $('.image').click();
    })

    $('.select_image').click(function(){
      $('.image').click();
    })

    $('.delete').click(function(){
      var id = $(this).attr('id');
      $.ajax( {
        url: '/users/delete_company_avatar',
        type: 'POST',
        data: {id: id}
        
      }).done(function (data) {
        console.log(data);
        if(data.state == 'valid'){
          console.log(data.avatar_url);
          $('.user_avatar').attr('src','http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image');
          
        }
      });
    })

    $('.cancel_btn').click(function(){
      window.location.href = "/users/company_profile?id=<%= @user.id %>";
      
    })
  })
</script>