<div style="height: 30px"></div>
<div class="alert alert-warning open-sans-regular" id="users_old_password" style="display: none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div class="notice" style="font-size: 14px;">Current Password is wrong.</div>
</div>

<div class="alert alert-warning open-sans-regular" id="users_not_match" style="display: none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div class="notice" style="font-size: 14px;">Password does not match.</div>
</div>
<div class="alert alert-success open-sans-regular" id="password_success" style="display: none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div class="notice" style="font-size: 14px;">Successfully Updated Password.</div>

</div>
<form action="#" id="password">
  <input type="hidden" name="user_id" value="<%= @sign_in_user.id %>">
  <!--<div class="form-group">
    <label class="control-label">Current Password</label>
    <input type="password" class="form-control current_pass" name="current_pass"/> </div>-->
  <div class="form-group">
    <label class="control-label">New Password</label>
    <input type="password" class="form-control new_pass" name="new_pass" /> </div>
  <div class="form-group">
    <label class="control-label">Re-type New Password</label>
    <input type="password" class="form-control confirmed" name="confirmed"/> </div>
  <div class="margin-top-10">
    <a href="#!" class="btn green">
      <button class="btn green" type="submit">
        Save Changes
      </button>

    </a>
  </div>
</form>

<script>
  $(document).ready(function(){
    $('#password').on('submit', function (e) {

      e.preventDefault();
      //var current_pass = $('.current_pass').val();
      var new_pass = $('.new_pass').val();
      var confirmed = $('.confirmed').val();

      if(new_pass.length > 6 && confirmed.length > 6){
        $.ajax({
          method: "POST",
          data: $('#password').serialize(),
          url: "/users/profile_update_password"
        }).done(function (data) {
          console.log(data);
          if(data.state == 'old_password'){
            $('#users_old_password').show();
            $('#users_not_match').hide();
            $('#password_success').hide();
          }else if(data.state == 'not_match'){
            $('#users_not_match').show();
            $('#users_old_password').hide();
            $('#password_success').hide();
          }else{
            $('#users_not_match').hide();
            $('#users_old_password').hide();
            $('#password_success').show();

          }
        });
      }else{
        alert("All Fields are required and atleast 8 characters.");
      }
    });
  });
</script>

