<section id="customers-section" class="customers-section section">
  <h2 class="section-title">Trusted by smart businesses</h2>
  <div class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum felis at lacus blandit egestas. Donec consectetur mollis leo, et pharetra massa eleifend mollis.</div>
  <div class="container">
    <div class="stories-wrapper row">
      <div class="item item-1 col-xs-12 col-md-6">
        <div class="item-inner text-center">
          <div class="item-mask"></div>
          <div class="item-content">
            <h3 class="content-title">Shipping product <br>at an amazing speed</h3>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
            </div>
            <a class="item-link" href="#"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item item-2 col-xs-12 col-md-6">
        <div class="item-inner text-center">
          <div class="item-mask"></div>
          <div class="item-content">
            <h3 class="content-title">Better collaboration <br>with remote teams</h3>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
            </div>
            <a class="item-link" href="#"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->

    </div><!--//row-->
    <!--<div class="action-wrapper text-center">
      <a class="btn btn-secondary" href="stories.html">All Customer Stories</a>
    </div>-->
  </div><!--//container-->
</section><!--//customers-section-->

