<section id="customers-section" class="customers-section section">
  <div style="height: 50px"></div>
  <h2 class="section-title"><strong>Welcome to Tendercon</strong></h2>
  <div class="section-intro">
    Australia's most innovative construction tendering platform connecting
    reputable builders with qualified subcontractors in over 70 trades.
    <div style="height: 30px"></div>
    <h4 class="section-title">Who Are You?</h4>
  </div>


  <div class="container">
    <div class="stories-wrapper row">
      <div class="item item-1 col-xs-12 col-md-6" >
        <div class="item-inner text-center" style="background-image:url('../vendors/landing_page/images/subcontractor_new_image.png')">
          <div class="item-mask">

          </div>
          <div class="item-content">
            <h3 class="content-title">I'm a Subcontractor</h3>
            <div style="height: 30px"></div>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>I want to find more tendering opportunities and work with reliable builders.</p>
            </div>
            <a class="item-link" href="http://ec2-13-54-38-164.ap-southeast-2.compute.amazonaws.com/home"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item item-2 col-xs-12 col-md-6">
        <div class="item-inner text-center" style="background-image:url('../vendors/landing_page/images/builder_new_image.png')">
          <div class="item-mask">

          </div>
          <div class="item-content">
            <h3 class="content-title">I'm a Builder</h3>
            <div style="height: 30px"></div>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>I want to post construction tenders and work with more qualified subcontractors. </p>
            </div>
            <a class="item-link" href="http://ec2-13-54-38-164.ap-southeast-2.compute.amazonaws.com/home"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->

    </div><!--//row-->
    <!--<div class="action-wrapper text-center">
      <a class="btn btn-secondary" href="stories.html">All Customer Stories</a>
    </div>-->
  </div><!--//container-->
</section><!--//customers-section-->

