<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="<%= dashboard_index_path %>">
          <button type="button" class="close " ></button>
        </a>
      </div>
      <div class="modal-body">
        <img src="/img/logos/open_tender_lighbox_non_subscriber.png" class="img-responsive" alt="" style="width: 100% !important; height: 450px !important;">
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <a href="/users/profile?id=<%= session[:user_logged_id] %>&subscription=true">
            <button type="button" class="btn btn-info">UPGRADE</button>
          </a>
        </div>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>