<% if (get_open_tender_trades @tender.id,session[:user_logged_id]).present? %>
    <a href="#!">
      <button class=" btn btn-info quotes" type="button">I AM INTERESTED</button>
    </a>
<% else %>
    <a href="#!">
      <button class=" btn btn-info quotes" type="button" disabled>I AM INTERESTED</button>
    </a>
<% end %>

<input type="hidden" class="tender_id" value="<%= @tender.id %>">
<input type="hidden" class="sc_id" value="<%= session[:user_logged_id] %>">
<script>
  $('.quotes').click(function(){
    var tender_id = $('.tender_id').val();
    var sc_id = $('.sc_id').val();

    var ids = []
    $('.trade_class').each(function(){
      if($(this).is(':checked')){
        ids.push($(this).val());
      }
    });

    $.ajax({
      method: "POST",
      data: {tender_id:tender_id,sc_id:sc_id,ids:ids,open:true},
      url: "/tenders/request_to_quote"
    }).done(function (data) {
      $('#tender_Modal_'+tender_id).modal('hide');
      $('#tender_success_'+tender_id).modal('show');
    });
  });

  $('.trade_class').change(function(){
    var ids = []
    $('.trade_class').each(function(){
      if($(this).is(':checked')){
        ids.push($(this).val());
      }
    });

    if(ids.length > 0){
      $('.quotes').prop('disabled',false);
    }else{
      $('.quotes').prop('disabled',true);
    }
  });
</script>