<div class="row">
  <div class="col-md-22">
    <button class="btn btn-default remove_comment_doc">
      <i class="fa fa-trash"  aria-hidden="true"></i>
    </button>
    <table  class="table table-bordered document_table col-md-12">
      <thead>
      <% if @docs.present? %>
          <tr>
            <th><input type="checkbox" class="document_list_master" name="document_list_master"></th>
            <th>Document</th>
          </tr>
      <% end %>
      </thead>
      <tbody>
      <% if @docs.present? %>
          <% @docs.each do |d| %>
              <tr>
                <% if d.document_file_name != '.DS_Store'  %>
                    <td><input type="checkbox" class="document_list" name="documents[]" value="<%= d.id %>"></td>
                    <td><%= d.document_file_name %></td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<input type="hidden" class="token" value="<%= @token %>">


<script>
  $(document).ready(function(){
    $('.document_list_master').change(function(){
      $('.document_list').prop('checked',$(this).prop("checked"));
    });

    $('.remove_comment_doc').click(function(){
      var str_token = $('.token').val();
      var r = confirm("Are you sure you want to delete this item?");
      if (r == true) {
        var ids = [];

        $("input:checkbox:checked").map(function()
        {
          ids.push($(this).val());
        })
        console.log("ids:"+ids);
        $.ajax({
         method: "POST",
         data: {ids:ids,token:str_token},
         url: "/comment_documents/delete_documents"
         }).done(function (data) {
         $('#'+str_token).html(data);
         });
      }
    })
  });


</script>