<div class="row">
  <input type="hidden" value="<%= @tender_id %>" class="tender_id">
  <div class="col-md-12">
    <i class="fa fa-file-text-o rfi_file" aria-hidden="true"></i>
    <i class="fa fa-trash remove" aria-hidden="true" onclick="remove_btn();"></i>
    <button type="button" class="btn btn-danger remove_btn" style="display: none" onclick="return confirm('Are you sure you want to delete this item?');">
      <i class="fa fa-trash" aria-hidden="true" ></i> DELETE SELECTED DOCUMENTS
    </button>
    <table  class="table table-bordered document_table col-md-12">
      <thead>
      <% if @rfi_documents.present? %>
          <tr>
            <th><input type="checkbox" class="document_list_master" name="document_list_master"></th>
            <th>Document</th>
          </tr>
      <% end %>
      </thead>
      <tbody>
        <% if @rfi_documents.present? %>
          <% @rfi_documents.each do |d| %>
            <tr>
              <% if d.document_file_name != '.DS_Store'  %>
                <td><input type="checkbox" class="document_list" name="documents[]" value="<%= d.id %>"></td>
                <td><%= d.document_file_name %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.document_list_master').change(function(){
      $('.document_list').prop('checked',$(this).prop("checked"));
    });

  });
  function remove_btn(){
    var tender_id = $('.tender_id').val();
    var r = confirm("Are you sure you want to delete this item?");
    if (r == true) {
      var ids = [];

      $("input:checkbox:checked").map(function()
      {
        ids.push($(this).val());
      })
      console.log("ids:"+ids);
      $.ajax({
        method: "POST",
        data: {ids:ids,tender_id:tender_id},
        url: "/rfis/delete_rfi_documents"
      }).done(function (data) {
        $('.rfi_document_lists').html(data);
      });
    }
  }
</script>