<div class="quote_list_table">

  <div class="admin-form">
    <div class="row">
      <div class="col-md-6">
        <a href="<%= new_site_path %>">
          <button class="button btn-default">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
          </button>
        </a>
      </div>
      <div class="col-md-3">

      </div>

      <div class="col-md-3 pull-right">
        <div class="section">
          <div class="smart-widget sm-left sml-50">
            <label class="field">
              <input type="text" name="sm3" id="filter" class="gui-input" placeholder="Search Here">
            </label>
            <label for="sm3" class="button">
              <i class="fa fa-search"></i>
            </label>
          </div>
          <!-- end .smart-widget section -->
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered" id="new_quote_table">

    <thead>
    <tr style="background-color: #2C3E50;color: white;">
      <th class="text-center">Type</th>
      <th class="text-center">Created At</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody class="searchable">
    <% if @sites.present? %>
      <% @sites.uniq.each do |d| %>
        <tr>
          <td class="text-center"><%= d.page_type %></td>
          <td class="text-center"><%= d.created_at %></td>
          <td class="text-center">
            <a href="<%= "sites/get_site?id=#{d.id}" %>">
              <button class="btn btn-success">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </a>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>




<script>
  $(document).ready(function(){
    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })
  })


</script>