<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="Rabbit - Responsive Coming Soon Page">
  <meta name="keywords" content="Rabbit,  coming soon page, html5, responsive">
  <meta name="author" content="MountainTheme">

  <title>Tendercon - Coming Soon Page</title>

  <!-- ============ GOOGLE FONTS ============ -->
  <link href='http://fonts.googleapis.com/css?family=Khand:300,400,500,600,700' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <!-- Animate css -->
  <link rel="stylesheet" type="text/css" href="../vendors/coming_soon/css/animate.css">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="../vendors/coming_soon/font-awesome/css/font-awesome.min.css" />
  <!-- Custom styles CSS -->
  <link rel="stylesheet" type="text/css" href="../vendors/coming_soon/css//style.css">
  <!-- Bootstrap v3.3.1 -->
  <link rel="stylesheet" type="text/css" href="../vendors/coming_soon/css//bootstrap.min.css">
  <!-- Favicons -->
  <link rel="shortcut icon" href="./vendors/coming_soon/images/favicon.ico">

</head>

<body>

<!-- LOADER TEMPLATE -->
<div id="page-loader">
  <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->



<!-- HEADER -->
<div >

</div>
<header>


  <div class="welcome" style='background-image: url("/img/logos/tender_background.jpg");background-size: 100% auto;background-repeat: no-repeat;background-color: #2caea1;'>
    <div class="logo" >
      <img src="/img/logos/tendercon_log_transparent.png" alt="">
    </div>

    <div style="height: 20px"></div>
    <h1 style="color: #fff;font-size: 40px;font-family: Gotham">
      Construction Tendering. Online & Reinvented.
    </h1>


    <!-- BUTTON SCROLL-->
    <ul class="actions animated fadeInUpBig">
      <li><a href="#countdown" class="button">Discover</a></li>
    </ul>

    <!-- /BUTTON SCROLL -->


    <!-- Social Icons -->
    <!--<div class="social-icons">
      <ul class="animated fadeInDownBig">
        <li><a href="#!"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#!"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>-->
    <!-- /Social Icons -->


    <!-- YOUTUBE PLAYER -->
    <!--<div id="video" data-video="ClIBmBT9clU" data-mute="true"></div> -->
    <!-- /YOUTUBE PLAYER -->

  </div>
</header>
<!-- END HEADER -->

<!-- COUNTDOWN -->
<section class="countdown-section" id="countdown">
  <div class="container">
    <div class="row">
      <h2 data-sr="wait 0.25s, then enter top and move 40px over 1s" style="font-family: Gotham;font-size: 30px;line-height:36px; color: #ffffff "><i class="fa fa-clock-o"></i> Discover Better Online Tendering in..</h2>

      <!--<div class="countdown" data-sr="wait 0.25s, then enter bottom and move 40px over 1s"> </div>-->
      <div class="counter" data-sr="wait 0.25s, then enter bottom and move 40px over 1s"></div>
    </div>
  </div>
</section>
<!-- /COUNTDOWN -->


<!-- SERVICES -->
<section class="services">
  <div class="container">
    <div class="row">
      <h2  style="font-family: Gotham;font-size: 30px;line-height:36px; "data-sr="wait 0.5s, then enter top and move 40px over 1s">WHY TENDERCON</h2>
      <div class="col-md-12">
        <div class="col-md-4" data-sr="wait 0.25s, then enter left and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-laptop fa-fw"></i>
          </div>
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">All in one</h3>
          <p style="font-size: 15px;font-family: Roboto;line-height: 20px;">Your tender notification board, your online document storage and our proprietary system managing all addendas, RFIs & Quotes.</p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter top and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-code fa-fw"></i>
          </div>
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">Secure & Live</h3>
          <p style="font-size: 15px;font-family: Roboto;line-height: 20px;">Supported by AWS and with 256bit data encryption, we have the most robust tendering platform with 99.9% uptime.</p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter right and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-cogs fa-fw"></i>
          </div>
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">Designed for You</h3>
          <p style="font-size: 15px;font-family: Roboto;line-height: 20px;">Clean cut design and the major tendering features on one platform, this is the most easy to use and powerful tendering platform
          </p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter left and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-star-o fa-fw"></i>
          </div>
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">Full Transparency</h3>
          <p style="font-size: 15px;font-family: Roboto;line-height: 20px;">With tender tracking, HCs & SCs have full transparency of the tendering process, leading to clear, trackable and fair quotes
          </p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter top and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-bullhorn fa-fw"></i>
          </div>
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">Documents Online</h3>
          <p style="font-size: 15px;font-family: Roboto;line-height: 20px;">Upload, distribute and store all your tendering documents on our platform, no matter the project document size
          </p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter right and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-paper-plane fa-fw"></i>
          </div>
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">Accelerate Growth</h3>
          <p style="font-size: 15px;font-family: Roboto;line-height: 20px;">Connect and grow your construction network, whether its working with more qualified SCs or access the most comprehensive and up to date tendering opportunities</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SERVICES -->


<!-- SUBSCRIBE -->
<section class="subscribe">
  <div class="container">
    <div class="row">
      <h2 data-sr="wait 0.5s, then enter top and move 40px over 1s" style="font-family: Gotham;font-size: 30px;line-height:36px; ">TELL ME MORE</h2>
      <p style="font-size: 15px;font-family: Roboto;line-height: 20px;" data-sr="wait 0.5s, then enter top and move 40px over 1s" style="color: #FFFFFF;text-align: center; font-size: 12px">Register your construction company to be one of the first in Australia to get an exclusive look at the Tendercon Platform before your competitors do.</p>
      <form id="ajaxChimp" data-sr="wait 0.5s, then enter bottom and move 40px over 1s">
       <!-- <select  id="opt">
          <option>None</option>
          <option>Head Contractor</option>
          <option>Sub Contractor</option>
        </select>
        <div style="height: 20px"></div>
        <input id="mc-name" type="text" placeholder="Enter your name">
        <div style="height: 20px"></div>  -->
        <input id="mc-company" type="text" placeholder="I work for" style="font-size:15px;font-family: Roboto;line-height: 20px;">
        <div style="height: 20px"></div>
        <input id="mc-email" type="text" placeholder="My work email address" style="font-size:15px;font-family: Roboto;line-height: 20px;">
       <!-- <div style="height: 20px"></div>-->
        <div style="height: 20px"></div>
        <button type="button" class="tell_me_submit"><i class="fa fa-fw fa-envelope"></i></button>
        <label for="mc-email"></label>
      </form>
      <div class="result" style="color: #FFFFFF;text-align: center"></div>
    </div>
  </div>
</section>
<!-- END SUBSCRIBE -->

<!-- ABOUT -->
<section class="about">
  <div class="container">
    <div class="row">
      <h2 data-sr="wait 0.5s, then enter top and move 40px over 1s" style="font-family: Gotham;font-size: 30px;line-height:36px; ">ABOUT US</h2>
      <div class="col-md-12">
        <div class="col-md-6" data-sr="wait 0.25s, then enter left and move 40px over 1s">
          <img src="img/avatars/Sandro-Botic.png" alt=" ">
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">Sandro Botic</h3>
          <p>CEO & Co-Founder</p>
          <p>
            With a passion for innovation and honed with years of experience in the construction industry, Sandro is always looking at how to make Tendercon better for the users. When he’s not tinkering on the platform, he is discovering new adventures places to travel.

          </p>
          <!-- Social Icons -->
          <div class="social-icons">
            <ul>
              <li><a href="https://www.linkedin.com/in/sandrobotic/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="https://www.instagram.com/sandrobotic/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <!--<li><a href=""><i class="fa fa-fw fa-dribbble"></i></a></li>
              <li><a href=""><i class="fa fa-fw fa-google-plus"></i></a></li>-->
            </ul>
          </div>
          <!-- /Social Icons -->
        </div>
        <div class="col-md-6" data-sr="wait 0.25s, then enter top and move 40px over 1s">
          <img src="/img/avatars/Ryan-He.png" alt=" ">
          <h3 style="font-size: 15px;line-height: 24px;font-family: Gotham-Medium">Ryan He</h3>
          <p>Co-Founder</p>
          <p>Coming from digital marketing, Ryan brings his experience in creating the optimal user experience for Tendercon users, from platform to customer service. When he’s not catching up on the mountain of articles under the To Read folder. find him travling Sydney streets for the best ramen.</p>
          <!-- Social Icons -->
          <div class="social-icons" style="text-align: center">
            <ul>
              <li><a href="https://www.linkedin.com/in/ryanhe/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
              <!--<li><a href=""><i class="fa fa-fw fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-fw fa-dribbble"></i></a></li>
              <li><a href=""><i class="fa fa-fw fa-google-plus"></i></a></li>-->
            </ul>
          </div>
          <!-- /Social Icons -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END ABOUT -->

<!-- CONTACT -->
<section class="contact">
  <div class="container">
    <div class="row">
      <h2 data-sr="wait 0.5s, then enter top and move 40px over 1s" style="font-family: Gotham;font-size: 30px;line-height:36px; ">GET IN TOUCH</h2>
      <div class="col-md-12">
        <div id="note"></div>
        <div id="fields">
          <form id="ajax-contact-form" >
            <input type="text" name="name" id="name" placeholder="Name" value="" data-sr="enter left move 25px, after 0.3s" style="font-size:15px;font-family: Roboto;line-height: 20px;"/>
            <input type="email" name="email" id="email" placeholder="Email" value="" data-sr="enter right move 25px, after 0.3s" style="font-size:15px;font-family: Roboto;line-height: 20px;"/>
            <textarea name="msg" id="msg" placeholder="Message"  data-sr="enter bottom move 25px, after 0.3s" style="font-size:15px;font-family: Roboto;line-height: 20px;"></textarea>
            <div class="text-center">
              <input type="submit" name="submit"  id="submit" value="Send message" data-sr="wait 0.8s, then enter top and move 40px after 0.3s" font-size:15px;font-family: Roboto;line-height: 20px;/>
            </div>

          </form>
          <div class="get_in_touch_result" style="color: #FFFFFF;text-align: center"></div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->


<!-- GOOGLE MAP  -->
<section class="google-map">
  <div id="google-container1"></div>
  <div id="zoom-in">+</div>
  <div id="zoom-out">-</div>
  <div class="contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <address data-sr="wait 0.25s, then enter left and move 40px over 1s"><i class="fa fa-map-marker"></i>205/414 Garderners Rd, Rosebery, NSW 2018</address>
          <br/><br/>
          <!--<div class="phone" data-sr="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-phone"></i>+6192113747</div>
          <div class="email" data-sr="wait 0.25s, then enter right and move 40px over 1s"><i class="fa fa-paper-plane"></i>youremail@youremailaddress.com</div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END GOOGLE MAP -->


<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="copyright" data-sr="wait 0.5s, then enter bottom and move 40px over 1s">
        <ul class="list-inline">
          <li style="list-style: none"><a href="https://www.linkedin.com/company/tendercon" target="_blank"><i class="fa fa-linkedin-square" ></i></a></li>
          <li style="list-style: none"><a href="https://www.instagram.com/tendercon/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
        Copyright © 2017  Tendercon. All rights reserved.
      </div>

    </div>
  </div>
</footer>
<!-- END FOOTER -->

<!-- Javascript files -->
<!-- jQuery -->
<script src="../vendors/coming_soon/js/jquery.js"></script>
<!-- Backstretch -->
<script src="../vendors/coming_soon/js/jquery.backstretch.min.js"></script>
<!-- CountDown  -->
<script src="../vendors/coming_soon/js/jquery.countdown.js"></script>
<!-- Validate form -->
<script src="../vendors/coming_soon/js/jquery.validate.js"></script>
<!-- Scroll Reveal -->
<script src="../vendors/coming_soon/js/scrollReveal.js"></script>
<!-- Smooth Scroll -->
<script src="../vendors/coming_soon/js/smooth-scroll.js"></script>
<!-- Youtube Player -->
<script src="../vendors/coming_soon/js/jquery.youtubebackground.js"></script>
<!-- Ajax chimp -->
<script src="../vendors/coming_soon/js/jquery.ajaxchimp.js"></script>
<!-- Google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl-EDTJ5_uU3zBIX7-wNTu-qSZr1DO5Dw"></script>
<!-- Custom -->
<script src="../vendors/coming_soon/js/main.js"></script>
</body>
</html>

<script>
  var endDate = "March 1, 2017 00:00:00";
  $('.counter').countdown({
    date: endDate,
    render: function(data) {

      $(this.el).html("<div>"  + this.leadingZeros(data.days, 2) + " <span style='font-size:15px;font-family: Roboto;line-height: 20px;'>days</span></div><div class='border_clock'>" + this.leadingZeros(data.hours, 2) + " <span style='font-size:15px;font-family: Roboto;line-height: 20px;'>hours</span></div><div class='border_clock'>" + this.leadingZeros(data.min, 2) + " <span style='font-size:15px;font-family: Roboto;line-height: 20px;'>minutes</span></div><div class='border_clock'>" + this.leadingZeros(data.sec, 2) + " <span style='font-size:15px;font-family: Roboto;line-height: 20px;'>seconds</span></div>");
    }
  });

  $(function(){
    $('#submit').on("click", function() {
      // validate and process form here
      $("#ajax-contact-form").validate({

        rules:{

          name:{
            required: true,
          },

          email:{
            required: true,
            email: true,
          },

          msg:{
            required: true,
          },
        },

        messages:{

          name:{
            required: "<i class='fa fa-exclamation-triangle name'></i>",
          },

          email:{
            required: "<i class='fa fa-exclamation-triangle email'></i>",
            email: "<i class='fa fa-exclamation-triangle email'></i>",
          },

          msg:{
            required: "<i class='fa fa-exclamation-triangle message'></i>",
          },

        },

        // JQuery's awesome submit handler.
        submitHandler: function(form) {

          // Create variables from the form
          var name = $('input#name').val();
          var email = $('input#email').val();
          var msg = $('textarea#msg').val();

          // Create variables that will be sent in a URL string to contact.php
          var dataString = '&name='+ name + '&email=' + email + '&msg=' + msg;

          $.ajax({
            type: "POST",
            url: "/home/get_in_touch",
            data: dataString,
            success: function(data) {
              if(data == 'OK') {
                var result = '<div class="notification_ok"><i class="fa fa-check"></i> Your email was sent. Thanks!</div>';
                $("#ajax-contact-form").find('input[type=text], input[type=email], textarea').val("");

              } else {
                result = data;
              }

              $('.get_in_touch_result').html('<p style="font-size:15px;font-family: Roboto;line-height: 20px;">Thank you for contacting us. a Tendercon team member will be in touch shortly to address your enquiry.</p>');
              $('#note').html(result);

            }

          });
          return false;
        }
      });
    });
  });





  $('.get_intouch_submit').click(function(){
    var name = $('#name').val();
    var email = $('#email').val();
    var msg = $('#msg').val();

    $.ajax({
      method: "POST",
      data: {name: name, email:email, msg:msg},
      url: "/home/get_in_touch"
    }).done(function (data) {
      console.log(data);
      if(data.state = 'valid') {
        $('#name').val('');
        $('#email').val('');
        $('#msg').val('');

        $('.get_in_touch_result').html('<p style="font-size:15px;font-family: Roboto;line-height: 20px;"><i class="fa fa-check"></i> Thank you for contacting us. a Tendercon team member will be in touch shortly to address your enquiry.</p>')
      }
    });
  });

  $('.tell_me_submit').click(function(){
    var email = $('#mc-email').val();
    var company = $('#mc-company').val();
    if(email.length > 0 && company.length > 0){
      $.ajax({
        method: "POST",
        data: { email:email,company:company},
        url: "/home/notify_tendercon"
      }).done(function (data) {
        console.log(data);
        if(data.state = 'valid') {
          $('#mc-email').val('');
          $('#mc-company').val('');
          $('.result').html('<p style="font-size:15px;font-family: Roboto;line-height: 20px;color: #2caea1"><i class="fa fa-check"></i> ' +
              ' Well done, you are one step closer to giving your company a first look at the Tendercon platform. A Tendercon team member will be in touch shortly with more information. Stay tuned!' +
              '</p>')
        }
      });
    }else{
      if(email.length <= 0 && company.length > 0){
        $('.result').html('<p style="font-size:15px;font-family: Roboto;line-height: 20px;"><i class="fa fa-exclamation-triangle name"></i> E-mail address is not valid.</p>')
      }else if(company.length <= 0 && email.length > 0){
        $('.result').html('<p style="font-size:15px;font-family: Roboto;line-height: 20px;"><i class="fa fa-exclamation-triangle name"></i> Company is required.</p>')
      }else if(email.length <= 0 && company.length <= 0){
        $('.result').html('<p style="font-size:15px;font-family: Roboto;line-height: 20px;"><i class="fa fa-exclamation-triangle name"></i> E-mail address is not valid.</p><p style="font-size:15px;font-family: Roboto;line-height: 20px;"><i class="fa fa-exclamation-triangle name"></i> Company is required.</p>')
      }

    }

  })


  $(document).ready(function(){

    function initialize() {
      var latitude = -33.921506,
          longitude = 151.1991044,
          map_zoom = 13;


      //set google map options
      var map_options = {
        center: new google.maps.LatLng(latitude, longitude),
        zoom: map_zoom,
        panControl: true,
        zoomControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false,
        styles: style,
      }
      //inizialize the map
      var map = new google.maps.Map(document.getElementById('google-container1'), map_options);
      //add a custom marker to the map


      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(latitude, longitude),
        map: map,
        visible: true
      });



      google.maps.event.addDomListener(window, "resize", function() {
        var center = map.getCenter();
        google.maps.event.trigger(map, "resize");
        map.setCenter(center);
      });

      //add custom buttons for the zoom-in/zoom-out on the map
      function CustomZoomControl(controlDiv, map) {
        //grap the zoom elements from the DOM and insert them in the map
        var controlUIzoomIn= document.getElementById('zoom-in'),
            controlUIzoomOut= document.getElementById('zoom-out');
        controlDiv.appendChild(controlUIzoomIn);
        controlDiv.appendChild(controlUIzoomOut);

        // Setup the click event listeners and zoom-in or out according to the clicked element
        google.maps.event.addDomListener(controlUIzoomIn, 'click', function() {
          map.setZoom(map.getZoom()+1)
        });
        google.maps.event.addDomListener(controlUIzoomOut, 'click', function() {
          map.setZoom(map.getZoom()-1)
        });
      }

      var zoomControlDiv = document.createElement('div');
      var zoomControl = new CustomZoomControl(zoomControlDiv, map);

      //insert the zoom div on the top left of the map
      map.controls[google.maps.ControlPosition.LEFT_TOP].push(zoomControlDiv);
    }
    google.maps.event.addDomListener(window, "load", initialize);
  });
</script>

<style>
  @font-face { font-family: Gotham; src: url('/fonts/font-awesome/Gotham-Light_0(1).otf'); }
  @font-face { font-family: Gotham-Medium; src: url('/fonts/font-awesome/GOTHAM-MEDIUM.TTF'); }


  .counter{
    font-size: 5em;
  }

  .counter div {
    display:inline-block;
    width: 180px;
    padding-top:12px;
  }

  .counter {
    font-size: 5em;
  }

  .counter div {
    width: 130px;
  }

  .counter .border_clock {
    border-left: none;
  }

  .counter {
    font-size: 7em;
    margin: 0 auto;
    line-height: 65px;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .counter div span {
    display:block;
    font-size: 19px;
    line-height: 35px;
  }

  .counter div {
    display:inline-block;
    width:190px;
    padding-top:12px;
  }

  .copyright  i.fa {
    background: #fff;/*rgba(22, 182, 234, 0);*/
    text-align: center;
    line-height: 37px;
    list-style: none;
    font-size: 17px;
    border-bottom: none;
    color: #394F6F;
    margin: 10px 10px 15px auto;
    display: inline-block;
    float: left;
    border-radius: 50%;
    border: 2px solid #394F6F;
    height: 40px;
    width: 40px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
  }

  .copyright i.fa:hover {
    background:#394F6F;
    color:#fff;
  }

  .subscribe #opt {
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px rgba(255, 255, 255, 1);
    height: 54px;
    width: 30%;
    color: #fff;
    word-spacing: 1px;
    padding-left: 20px;
    font-size: 13px;
    outline: none;
  }

  .subscribe h2 {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    /*background: url(../vendors/coming_soon/images/h1-bg-white.png) 50% 100% no-repeat;*/
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .subscribe p {
    /*font-weight: 600;
    font-size: 16px;*/
    font-size: 15px;
    font-family: Roboto;
    line-height: 20px;
    color: #fff;
    letter-spacing: 1px;
    /*background: url(../vendors/coming_soon/images/h1-bg-white.png) 50% 100% no-repeat;*/
    text-align: center;
    margin-bottom: 50px;
  }


  #zoom-in, #zoom-out {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    background-color: #2caea1;
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-image: url("/img/logos/icon-controller.svg");
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  #zoom-in:hover, #zoom-out:hover {
    background-color: #2caea1;

  }

  #zoom-in {
    background-position: 50% 0;
    margin-top: 50px;
    margin-bottom: 1px;
  }

  #zoom-out {
    background-position: 50% -32px;
  }

  .contact input[type='submit'] {
    background-color: rgba(22, 182, 234, 0);
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    left: -45%;
    position: relative;
    width: 11%;
    display:block;
    word-spacing: 1px;
    outline: none;
    font-size: 15px;
    padding-top: 3px;
    margin-top:20px;
    font-weight: 300;
    height: 54px;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
  }

  .contact input[type="submit"]:hover {
    background: #FFFFFF;
    color: #000;
  }

  .about p {
    color: #50547A;
    text-align: left;
    word-spacing: 1px;
    /*line-height: 25px;
    font-size: 15px;*/
    font-size: 15px;
    font-family: Roboto;
    line-height: 20px;
    margin-bottom: 15px;
  }




</style>

