<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="Rabbit - Responsive Coming Soon Page">
  <meta name="keywords" content="Rabbit,  coming soon page, html5, responsive">
  <meta name="author" content="MountainTheme">

  <title>Tendercon - Coming Soon Page</title>

  <!-- ============ GOOGLE FONTS ============ -->
  <link href='http://fonts.googleapis.com/css?family=Khand:300,400,500,600,700' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <!-- Animate css -->
  <link rel="stylesheet" type="text/css" href="../vendors/coming_soon/css/animate.css">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="../vendors/coming_soon/font-awesome/css/font-awesome.min.css" />
  <!-- Custom styles CSS -->
  <link rel="stylesheet" type="text/css" href="../vendors/coming_soon/css//style.css">
  <!-- Bootstrap v3.3.1 -->
  <link rel="stylesheet" type="text/css" href="../vendors/coming_soon/css//bootstrap.min.css">
  <!-- Favicons -->
  <link rel="shortcut icon" href="./vendors/coming_soon/images/favicon.ico">

</head>

<body>

<!-- LOADER TEMPLATE -->
<div id="page-loader">
  <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->



<!-- HEADER -->
<header>


  <div class="welcome">
    <div class="logo">
      <img src="/img/logos/tendercon.png" alt="" width="500px;">

    </div>
    <div style="height: 100px"></div>
    <p class="animated fadeInUp">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <!--<hr class="animated fadeInUp">
    <p class="animated fadeInUp">Our website is under construction.</p>
-->
    <!-- BUTTON SCROLL-->
    <ul class="actions animated fadeInUpBig">
      <li><a href="#countdown" class="button">Discover</a></li>
    </ul>
    <!-- /BUTTON SCROLL -->


    <!-- Social Icons -->
    <div class="social-icons">
      <ul class="animated fadeInDownBig">
        <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <!--<li><a href=""><i class="fa fa-fw fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-fw fa-dribbble"></i></a></li>
        <li><a href=""><i class="fa fa-fw fa-google-plus"></i></a></li>-->
      </ul>
    </div>
    <!-- /Social Icons -->


    <!-- YOUTUBE PLAYER -->
    <!--<div id="video" data-video="ClIBmBT9clU" data-mute="true"></div> -->
    <!-- /YOUTUBE PLAYER -->

  </div>
</header>
<!-- END HEADER -->

<!-- COUNTDOWN -->
<section class="countdown-section" id="countdown">
  <div class="container">
    <div class="row">
      <h3 data-sr="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-clock-o"></i> We are Coming Soon...</h3>

      <!--<div class="countdown" data-sr="wait 0.25s, then enter bottom and move 40px over 1s"> </div>-->
      <div class="counter" data-sr="wait 0.25s, then enter bottom and move 40px over 1s"></div>
    </div>
  </div>
</section>
<!-- /COUNTDOWN -->


<!-- SERVICES -->
<section class="services">
  <div class="container">
    <div class="row">
      <h3 data-sr="wait 0.5s, then enter top and move 40px over 1s">OUR SERVICES.</h3>
      <div class="col-md-12">
        <div class="col-md-4" data-sr="wait 0.25s, then enter left and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-laptop fa-fw"></i>
          </div>
          <h2>Inovative Ideas</h2>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter top and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-code fa-fw"></i>
          </div>
          <h2>Clean code</h2>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter right and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-cogs fa-fw"></i>
          </div>
          <h2>Easy to Customise</h2>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter left and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-star-o fa-fw"></i>
          </div>
          <h2>Feel Like A Star</h2>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter top and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-bullhorn fa-fw"></i>
          </div>
          <h2>Great Support</h2>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
        </div>
        <div class="col-md-4" data-sr="wait 0.25s, then enter right and move 40px over 1s">
          <div class="icon">
            <i class="fa fa-paper-plane fa-fw"></i>
          </div>
          <h2>24/7 Support</h2>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SERVICES -->


<!-- SUBSCRIBE -->
<section class="subscribe">
  <div class="container">
    <div class="row">
      <h2 data-sr="wait 0.5s, then enter top and move 40px over 1s">Subscribe  to our newsletter.</h2>
      <form id="ajaxChimp" data-sr="wait 0.5s, then enter bottom and move 40px over 1s">
        <input id="mc-email" type="text" placeholder="Enter your email address">
        <button type="submit"><i class="fa fa-fw fa-envelope"></i></button>
        <label for="mc-email"></label>
      </form>
    </div>
  </div>
</section>
<!-- END SUBSCRIBE -->

<!-- ABOUT -->
<section class="about">
  <div class="container">
    <div class="row">
      <h3 data-sr="wait 0.5s, then enter top and move 40px over 1s">ABOUT US.</h3>
      <div class="col-md-12">
        <div class="col-md-6" data-sr="wait 0.25s, then enter left and move 40px over 1s">
          <img src="../vendors/coming_soon/images/team/1.jpg" alt=" ">
          <h2>Sandro Botic</h2>
          <p>CEO & Co-Founder</p>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
          <!-- Social Icons -->
          <div class="social-icons">
            <ul>
              <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <!--<li><a href=""><i class="fa fa-fw fa-dribbble"></i></a></li>
              <li><a href=""><i class="fa fa-fw fa-google-plus"></i></a></li>-->
            </ul>
          </div>
          <!-- /Social Icons -->
        </div>
        <div class="col-md-6" data-sr="wait 0.25s, then enter top and move 40px over 1s">
          <img src="../vendors/coming_soon/images/team/2.jpg" alt=" ">
          <h2>Ryan He</h2>
          <p>Co-Founder</p>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
          <!-- Social Icons -->
          <div class="social-icons">
            <ul>
              <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
              <!--<li><a href=""><i class="fa fa-fw fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-fw fa-dribbble"></i></a></li>
              <li><a href=""><i class="fa fa-fw fa-google-plus"></i></a></li>-->
            </ul>
          </div>
          <!-- /Social Icons -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END ABOUT -->

<!-- CONTACT -->
<section class="contact">
  <div class="container">
    <div class="row">
      <h2 data-sr="wait 0.5s, then enter top and move 40px over 1s">GET IN TOUCH.</h2>
      <div class="col-md-12">
        <div id="note"></div>
        <div id="fields">
          <form id="ajax-contact-form">
            <input type="text" name="name" id="name" placeholder="Name" value="" data-sr="enter left move 25px, after 0.3s"/>
            <input type="email" name="email" id="email" placeholder="Email" value="" data-sr="enter right move 25px, after 0.3s"/>
            <textarea name="msg" id="msg" placeholder="Message"  data-sr="enter bottom move 25px, after 0.3s"></textarea>
            <input type="submit" name="submit" id="submit" value="Send message" data-sr="wait 0.8s, then enter top and move 40px after 0.3s"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->


<!-- GOOGLE MAP  -->
<section class="google-map">
  <div id="google-container"></div>
  <div id="zoom-in"></div>
  <div id="zoom-out"></div>
  <div class="contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <address data-sr="wait 0.25s, then enter left and move 40px over 1s"><i class="fa fa-map-marker"></i>Melbourne, Australia</address>
          <div class="phone" data-sr="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-phone"></i>+6192113747</div>
          <div class="email" data-sr="wait 0.25s, then enter right and move 40px over 1s"><i class="fa fa-paper-plane"></i>youremail@youremailaddress.com</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END GOOGLE MAP -->


<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">

      <div class="copyright" data-sr="wait 0.5s, then enter bottom and move 40px over 1s">Copyright © 2017 <a href="http://themeforest.net/user/MountainTheme?ref=MountainTheme" target="_blank"> TenderconTheme</a>. All rights reserved.
      </div>

    </div>
  </div>
</footer>
<!-- END FOOTER -->

<!-- Javascript files -->
<!-- jQuery -->
<script src="../vendors/coming_soon/js/jquery.js"></script>
<!-- Backstretch -->
<script src="../vendors/coming_soon/js/jquery.backstretch.min.js"></script>
<!-- CountDown  -->
<script src="../vendors/coming_soon/js/jquery.countdown.js"></script>
<!-- Validate form -->
<script src="../vendors/coming_soon/js/jquery.validate.js"></script>
<!-- Scroll Reveal -->
<script src="../vendors/coming_soon/js/scrollReveal.js"></script>
<!-- Smooth Scroll -->
<script src="../vendors/coming_soon/js/smooth-scroll.js"></script>
<!-- Youtube Player -->
<script src="../vendors/coming_soon/js/jquery.youtubebackground.js"></script>
<!-- Ajax chimp -->
<script src="../vendors/coming_soon/js/jquery.ajaxchimp.js"></script>
<!-- Google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl-EDTJ5_uU3zBIX7-wNTu-qSZr1DO5Dw"></script>
<!-- Custom -->
<script src="../vendors/coming_soon/js/main.js"></script>
</body>
</html>

<script>
  var endDate = "March 1, 2017 00:00:00";
  $('.counter').countdown({
    date: endDate,
    render: function(data) {

      $(this.el).html("<div>"  + this.leadingZeros(data.days, 2) + " <span>days</span></div><div class='border_clock'>" + this.leadingZeros(data.hours, 2) + " <span>hours</span></div><div class='border_clock'>" + this.leadingZeros(data.min, 2) + " <span>minutes</span></div><div class='border_clock'>" + this.leadingZeros(data.sec, 2) + " <span>seconds</span></div>");
    }
  });
</script>

<style>
  .counter{
    font-size: 5em;
  }

  .counter div {
    display:inline-block;
    width: 180px;
    padding-top:12px;
  }

  .counter {
    font-size: 5em;
  }

  .counter div {
    width: 130px;
  }

  .counter .border_clock {
    border-left: none;
  }

  .counter {
    font-size: 7em;
    margin: 0 auto;
    line-height: 65px;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .counter div span {
    display:block;
    font-size: 19px;
    line-height: 35px;
  }

  .counter div {
    display:inline-block;
    width:190px;
    padding-top:12px;
  }

</style>

