<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>Tendercon</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="shortcut icon" type="image/png" href="/img/logos/TRANSPARENT_LOGO_ICON ABOVE BRAND_clipped_rev_1-1.png"/>
  <link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <!-- Global CSS -->
  <link rel="stylesheet" href="../vendors/landing_page/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="../vendors/landing_page/plugins/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../vendors/landing_page/plugins/flexslider/flexslider.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="../vendors/landing_page/css/styles.css">
</head>

<body data-spy="scroll" data-target="#page-nav">
<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo">
      <a href="/home"><img src="/img/logos/tendercon_log_transparent.png" alt="" width="100px" height="40px"><span class="text"></span></a>
    </h1><!--//logo-->

  </div><!--//container-->
</header><!--//header-->
<%= yield %>
<!-- Javascript -->
<script type="text/javascript" src="../vendors/landing_page/plugins/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../vendors/landing_page/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../vendors/landing_page/plugins/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="../vendors/landing_page/plugins/back-to-top.js"></script>
<script type="text/javascript" src="../vendors/landing_page/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="../vendors/landing_page/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="../vendors/landing_page/js/main.js"></script>

<!--//Page Specific JS -->
<script type="text/javascript" src="../vendors/landing_page/js/home.js"></script>

<!-- Vimeo video API -->
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script type="text/javascript" src="../vendors/landing_page/js/vimeo.js"></script>

<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
<script src="../vendors/landing_page/js/demo/style-switcher.js"></script>

</body>
</html>

